.body-container {
    width: 1920px;
    margin: 0 auto;
    border: 1px solid #000;
    min-height: 600px;
    min-width: 300px;
}

.header {
    height: 957px;
    border: 5px solid plum; /* удалить */
    background: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(4px);
    background-image: url(/img/back.svg);
}

.header-nav {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.header-nav-logo {
    width: 125px;
    height: 33px;
    font-size: 24px;
    line-height: 39px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.header-nav-menu {
    width: 50%;
    font-size: 14px;
    line-height: 23px;
    color: #fff;
    display: flex;   
}

.header-line {
    width: 85%;
    height: 0px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 0 auto;
}


.header-presentation {
    padding-left: 412px;
}


.main-content {
    height: 527px; /* тут больше!!! */
    padding-left: 412px;
}

.main-content-about {
    height: 573px;
    background-color: #F9FAFC;
    padding-left: 412px;
}

.replay-form {
    height: 607px;
    padding-left: 412px;
    background: rgba(0, 0, 0, 0.85);
    background-image: url(/img/back.svg);
    backdrop-filter: blur(4px);
    font-size: 40px;
    line-height: 66px;
    color: #FFFFFF;
}

.main-technology-content {
    height: 527px; /* тут больше!!! */
    padding-left: 412px;
}



.footer {
    height: 527px;
    padding-left: 412px;
    background: #141414;
    color: #fff;
}