.body-container {
    max-width: 1920px;
    margin: 0 auto;
    font-family: Gotham Pro;
}

.header-nav,
.header-presentation,
.main-content,
.main-content-about-position,
.replay-form-content,
.main-technology-content,
.footer-content,
.footer-end {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 85px;
}

h1 {
    font-size: 40px;
    line-height: 56px;
}

.title-text {
    font-size: 40px;
    line-height: 56px;
    font-weight: 700;
    margin-top: 29px;
    margin-bottom: 15px;
}

.header-img {
    min-height: 957px;
    background: url(./../img/back.svg);
}

.header {
    min-height: 957px;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.85);  
}


.header-nav {
    display:flex;
    align-items: center;
    min-height: 92px;
    font-weight: bold;
}

.header-nav-logo {
    width: 50%;
    font-size: 24px;
    line-height: 39px;
    text-align: left;
}

.header-nav-logo span {
    color: #FED233;
}

.header-nav-menu {
    width: 50%;
    font-size: 14px;
    line-height: 23px;
    color: #fff;
    display: flex;   
    justify-content: space-around;
}

.header-nav-menu-mobile {
    width: 50%;
    display: none;
    justify-content: end;

}

.header-presentation {
    display: flex;
    align-items: center;
    padding-top: 232px;
    margin-bottom: 150px;
}

.header-presentation-column1 {
    width: 50%;
}

.header-presentation-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    max-width: 522px;
    margin-bottom: 16px;
}

.header-presentation-column2 {
    width: 50%;
    text-align: right;
    padding-right: 82px;
    padding-bottom: 58px;
}

.header-presentation-column2 svg {
    margin-bottom: 24px;
}

.header-presentation-column2 > svg:nth-child(1) {
    stroke: #FED233;
}

.header-presentation-column2 > svg:nth-child(3) {
    stroke: #fff;
}

.header-presentation-column2 svg:hover {
    stroke: blue;
}

.small-hr {
    width: 133px;
    height: 0px; 
    border-top: 2px solid #FED233;
    margin-top: 15px;
    margin-bottom: 24px;
}

.middle-hr {
    width: 320px;
    height: 0px;   
    border-top: 1px solid #BDBDBD;
}

.middle-hr-light {
    width: 306px;
    height: 0px;
    border-top: 1px solid #E0E0E0;
    margin: 5px auto;
}

.big-hr {
    width: 95%;
    height: 0px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.3);
    margin: 0 auto;
}

.button {
    width: 266px;
    height: 59px;
    background: #FED233;
    border-radius: 7px;
    cursor: pointer;
    border: 0;
    padding-left: 25px;
    padding-right: 24px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.button-value {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
}


.header-end {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content {
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    margin-top: 128px;
}

.main-content-line-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 96px;
}

.main-content-blocks {
    width: 347px;
    min-height: 292px;
    border: 2px solid #fff;
    border-radius: 5px;    
    margin-right: 35px;
    margin-bottom: 34px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);  
    padding-top: 45px;
    box-sizing: border-box;
}

.main-content-blocks-img {
    min-height: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content-blocks-name {
    min-height: 49px;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    color: #4F4F4F;
    text-align: center;
    letter-spacing: 0.01em;
    padding: 0 28px;
}

.main-content-blocks-end {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 62px;;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    color: #BDBDBD;
    padding-left: 24px;
    padding-right: 15px;
}

.main-content-blocks:hover {
    border: 2px solid #FED233;
}


.main-content-about {
    min-height: 573px;
    background-color: #F9FAFC;
    margin-top: 98px;
    font-size: 18px;
    line-height: 34px;
}

.text-about {
    max-width: 800px;
    font-size: 18px;
    line-height: 34px;
}

.main-content-about-blocks {
    display: flex;
    flex-wrap: wrap;
}

.content-blocks {
    width: 320px;
    box-sizing: border-box;
    margin-right: 74px;    
}

.content-blocks h1 {
    font-size: 32px;
    line-height: 60px;
    color: #FED233;
}



.replay-form-img {
    min-height: 608px;
    background-image: url(./../img/back.svg);
}

.replay-form {
    min-height: 608px;
    background: rgba(0, 0, 0, 0.85);
}

.replay-form-content {
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    padding-top: 78px;
}

.replay-form-name {
    width: 460px;
    height: 59px;
    background: #FFFFFF;
    border-radius: 7px;
    display: flex;
    align-items: center;
    margin-bottom: 21px;
}

.replay-form-name input {
    padding-left: 25px;
    padding-right: 10px;
    font-weight: bold;
    border-radius: 7px;
    outline: none;
    width: 100%;
    height: 100%;
}

.chb-container {
    display: flex;
    margin-bottom: 60px;
}

.chbox {
    width: 10px;
    height: 10px;;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 999px;
    margin-right: 10px;
}

.main-technology-content {
    font-size: 18px;
    line-height: 34px;
    margin-top: 118px;
    margin-bottom: 120px;
}

.main-technology-content-blocks {
    display: flex;
    flex-wrap: wrap;
}

.footer {
    background: #141414;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 23px;
}

.footer-content {
    padding-top: 84px;
    min-height: 366px;
}

a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.phone {
    font-size: 24px;
    margin-top: 15px;
}

.footer-end {
    display: flex;
    height: 85px;
    align-items: center;
    justify-content: space-between;
    text-decoration: underline;
}


@media screen and (max-width: 1100px) {
    .body-container {
        display: flex;
        flex-wrap: wrap;
        max-width: 600px;
    }

    .header, .header-img,
    .replay-form, .replay-form-img {
        min-height: 600px;
        margin-top: 0;
    }

    .header-nav,
    .header-presentation,
    .main-content,
    .main-content-about-position,
    .replay-form-content,
    .main-technology-content,
    .footer-content,
    .footer-end {
        max-width: 600px;
        box-sizing: border-box;
        padding: 20px;
    }


    .main-content,
    .main-content-about,
    .main-technology-content {
        margin-top: 20px;
    }

    .main-content-blocks,
    .main-content-about-blocks,
    .main-technology-content-blocks {
        width: 450px;
        margin: 10px auto;
    }

    .header-nav-menu-mobile {
        display: block;
    }

    .header-presentation-column1 {
        width: 100%;
    }

    .header-nav-menu,
    .header-presentation-column2,
    .header-end {
        display: none;
    }
}